<p>Hi {{username}},</p>
<p>I am emailing you because you recently missed session {{sessionnum}} of {{numsessions}} of
{{classname}}. So far you have missed {{numabsences}} of these classes.</p>
<p>
{{middletext}}
</p>
<p>Best regards,</p>
<p>{{teachername}}</p>
