<p>Hi {{username}},</p>
<p>Click on the link below to reset your password.</p>
<a href="{{site_url}}/reset/{{username}}/{{token}}">click here</a>.
<br>
<p>Alternatively visit {{site_url}}/reset/{{username}}/{{token}}</p>
<i>This login token will expire after 30 minutes</i>
